In [1]:
import arcpy
import requests
import json
import pprint
import zipfile
import arcpy
import pandas as pd
import os
import numpy as np
from datetime import timedelta
from datetime import datetime

In [5]:
    # Run Cross Validation to get results
    cvResult = arcpy.ga.CrossValidation("test", r"C:\Users\ecava\Documents\ArcGIS\Projects\Lab2\Lab2.gdb\testcv")
    # Add RMSE to a list
    print(cvResult.rootMeanSquare)

4.481785432784913

# Request Station Data

In [9]:
# Adding my token to a variable
Token = "EWfeohdvgAYBUAOZMoPgKNBjgaFAjMXS"

In [10]:
# Writing my params for which stations to choose
station_params = {'datasetid': 'GHCND', 'startdate': (datetime.now() - timedelta(days=365)).strftime('%Y-%m-%d'),
               'enddate': datetime.now().strftime('%Y-%m-%d'), 'locationid': 'FIPS:27', 'datatypeid': ['TMIN', 'TMAX'], 'limit':'1000'}

In [11]:
# Adding the base url to a variable - Getting Stations
base_url = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/stations'

In [12]:
# Making the request for specific stations
stations_req = requests.get(base_url, params=station_params, headers={'token':Token})
stations_req

In [13]:
# Translating the request into JSON format and printing
stations_j = stations_req.json()

In [14]:
stations_j

{'metadata': {'resultset': {'offset': 1, 'count': 178, 'limit': 1000}},
 'results': [{'elevation': 335,
   'mindate': '1978-12-01',
   'maxdate': '2022-04-30',
   'latitude': 48.6333,
   'name': 'BARWICK, MN US',
   'datacoverage': 0.9529,
   'id': 'GHCND:CA006020559',
   'elevationUnit': 'METERS',
   'longitude': -93.9667},
  {'elevation': 276.5,
   'mindate': '1893-01-01',
   'maxdate': '2022-04-24',
   'latitude': 47.2991,
   'name': 'ADA, MN US',
   'datacoverage': 0.863,
   'id': 'GHCND:USC00210018',
   'elevationUnit': 'METERS',
   'longitude': -96.5161},
  {'elevation': 348.1,
   'mindate': '1957-04-01',
   'maxdate': '2022-02-28',
   'latitude': 48.3005,
   'name': 'AGASSIZ REFUGE, MN US',
   'datacoverage': 0.8196,
   'id': 'GHCND:USC00210050',
   'elevationUnit': 'METERS',
   'longitude': -95.9816},
  {'elevation': 370.3,
   'mindate': '1940-06-01',
   'maxdate': '2021-12-31',
   'latitude': 46.5257,
   'name': 'AITKIN 2 E, MN US',
   'datacoverage': 0.8745,
   'id': 'GHCND:USC00210059',
   'elevationUnit': 'METERS',
   'longitude': -93.6674},
  {'elevation': 374.9,
   'mindate': '1893-01-01',
   'maxdate': '2022-05-02',
   'latitude': 43.6064,
   'name': 'ALBERT LEA 3 SE, MN US',
   'datacoverage': 0.976,
   'id': 'GHCND:USC00210075',
   'elevationUnit': 'METERS',
   'longitude': -93.3019},
  {'elevation': 274,
   'mindate': '2007-06-01',
   'maxdate': '2022-02-28',
   'latitude': 45.2534,
   'name': 'ANDOVER 1 N, MN US',
   'datacoverage': 0.9829,
   'id': 'GHCND:USC00210190',
   'elevationUnit': 'METERS',
   'longitude': -93.2927},
  {'elevation': 334.7,
   'mindate': '1917-04-01',
   'maxdate': '2022-05-01',
   'latitude': 45.38564,
   'name': 'ARTICHOKE LAKE 1 E, MN US',
   'datacoverage': 0.9915,
   'id': 'GHCND:USC00210287',
   'elevationUnit': 'METERS',
   'longitude': -96.12578},
  {'elevation': 365.5,
   'mindate': '1937-04-01',
   'maxdate': '2022-04-29',
   'latitude': 43.6542,
   'name': 'AUSTIN WASTE WATER TREATMENT FACILITY, MN US',
   'datacoverage': 0.9731,
   'id': 'GHCND:USC00210355',
   'elevationUnit': 'METERS',
   'longitude': -92.9739},
  {'elevation': 451.4,
   'mindate': '1999-06-01',
   'maxdate': '2022-01-04',
   'latitude': 47.7121,
   'name': 'BABBITT, MN US',
   'datacoverage': 0.9027,
   'id': 'GHCND:USC00210387',
   'elevationUnit': 'METERS',
   'longitude': -91.9533},
  {'elevation': 333.5,
   'mindate': '1908-12-01',
   'maxdate': '2022-04-22',
   'latitude': 48.7095,
   'name': 'BAUDETTE, MN US',
   'datacoverage': 0.8941,
   'id': 'GHCND:USC00210515',
   'elevationUnit': 'METERS',
   'longitude': -94.5853},
  {'elevation': 313.9,
   'mindate': '1952-09-01',
   'maxdate': '2022-05-02',
   'latitude': 45.3167,
   'name': 'BENSON, MN US',
   'datacoverage': 0.9926,
   'id': 'GHCND:USC00210667',
   'elevationUnit': 'METERS',
   'longitude': -95.6166},
  {'elevation': 371.9,
   'mindate': '1930-07-01',
   'maxdate': '2022-02-28',
   'latitude': 48.1969,
   'name': 'BIG FALLS, MN US',
   'datacoverage': 0.9037,
   'id': 'GHCND:USC00210746',
   'elevationUnit': 'METERS',
   'longitude': -93.7994},
  {'elevation': 359.7,
   'mindate': '1908-01-16',
   'maxdate': '2022-05-02',
   'latitude': 46.3433,
   'name': 'BRAINERD, MN US',
   'datacoverage': 0.6334,
   'id': 'GHCND:USC00210939',
   'elevationUnit': 'METERS',
   'longitude': -94.2086},
  {'elevation': 296,
   'mindate': '2012-01-05',
   'maxdate': '2022-05-02',
   'latitude': 46.3047,
   'name': 'BRECKENRIDGE 3 E, MN US',
   'datacoverage': 0.9021,
   'id': 'GHCND:USC00210974',
   'elevationUnit': 'METERS',
   'longitude': -96.5216},
  {'elevation': 452.9,
   'mindate': '1948-08-01',
   'maxdate': '2022-05-02',
   'latitude': 47.2472,
   'name': 'BRIMSON 2 S, MN US',
   'datacoverage': 0.932,
   'id': 'GHCND:USC00210989',
   'elevationUnit': 'METERS',
   'longitude': -91.8624},
  {'elevation': 298.1,
   'mindate': '1973-12-02',
   'maxdate': '2022-05-02',
   'latitude': 45.59595,
   'name': 'BROWNS VALLEY, MN US',
   'datacoverage': 0.9778,
   'id': 'GHCND:USC00211063',
   'elevationUnit': 'METERS',
   'longitude': -96.82841},
  {'elevation': 317,
   'mindate': '2003-09-01',
   'maxdate': '2022-05-02',
   'latitude': 44.7335,
   'name': 'BROWNTON WWTP, MN US',
   'datacoverage': 0.9897,
   'id': 'GHCND:USC00211065',
   'elevationUnit': 'METERS',
   'longitude': -94.3418},
  {'elevation': 381.9,
   'mindate': '1990-09-01',
   'maxdate': '2022-05-01',
   'latitude': 46.3004,
   'name': 'BRUNO 7 ENE, MN US',
   'datacoverage': 0.9796,
   'id': 'GHCND:USC00211074',
   'elevationUnit': 'METERS',
   'longitude': -92.5337},
  {'elevation': 355.4,
   'mindate': '1893-02-01',
   'maxdate': '2022-05-02',
   'latitude': 43.6309,
   'name': 'CALEDONIA, MN US',
   'datacoverage': 0.7501,
   'id': 'GHCND:USC00211198',
   'elevationUnit': 'METERS',
   'longitude': -91.5027},
  {'elevation': 294.1,
   'mindate': '1893-01-01',
   'maxdate': '2022-05-02',
   'latitude': 45.55646,
   'name': 'CAMBRIDGE, MN US',
   'datacoverage': 0.6804,
   'id': 'GHCND:USC00211227',
   'elevationUnit': 'METERS',
   'longitude': -93.23484},
  {'elevation': 392.9,
   'mindate': '2001-10-01',
   'maxdate': '2022-04-28',
   'latitude': 48.61,
   'name': 'CAMP NORRIS DNR, MN US',
   'datacoverage': 0.9751,
   'id': 'GHCND:USC00211250',
   'elevationUnit': 'METERS',
   'longitude': -95.1816},
  {'elevation': 368.8,
   'mindate': '1916-02-24',
   'maxdate': '2022-04-29',
   'latitude': 44.7184,
   'name': 'CANBY, MN US',
   'datacoverage': 0.9354,
   'id': 'GHCND:USC00211263',
   'elevationUnit': 'METERS',
   'longitude': -96.2696},
  {'elevation': 395,
   'mindate': '1906-04-01',
   'maxdate': '2022-05-02',
   'latitude': 47.3847,
   'name': 'CASS LAKE, MN US',
   'datacoverage': 0.6523,
   'id': 'GHCND:USC00211374',
   'elevationUnit': 'METERS',
   'longitude': -94.6147},
  {'elevation': 391.7,
   'mindate': '2014-08-01',
   'maxdate': '2022-05-02',
   'latitude': 47.8663,
   'name': 'CELINA 2 E, MN US',
   'datacoverage': 0.9177,
   'id': 'GHCND:USC00211422',
   'elevationUnit': 'METERS',
   'longitude': -93.0266},
  {'elevation': 288.3,
   'mindate': '1996-01-01',
   'maxdate': '2022-05-01',
   'latitude': 44.8496,
   'name': 'CHANHASSEN WSFO, MN US',
   'datacoverage': 0.9997,
   'id': 'GHCND:USC00211448',
   'elevationUnit': 'METERS',
   'longitude': -93.5644},
  {'elevation': 385.6,
   'mindate': '1911-04-01',
   'maxdate': '2022-04-29',
   'latitude': 46.70539,
   'name': 'CLOQUET, MN US',
   'datacoverage': 0.9936,
   'id': 'GHCND:USC00211630',
   'elevationUnit': 'METERS',
   'longitude': -92.52391},
  {'elevation': 368.8,
   'mindate': '1893-01-01',
   'maxdate': '2022-05-01',
   'latitude': 45.5794,
   'name': 'COLLEGEVILLE ST. JOHN S, MN US',
   'datacoverage': 0.9328,
   'id': 'GHCND:USC00211691',
   'elevationUnit': 'METERS',
   'longitude': -94.392},
  {'elevation': 413,
   'mindate': '1999-07-01',
   'maxdate': '2021-12-31',
   'latitude': 47.8948,
   'name': 'COOK 8 NE, MN US',
   'datacoverage': 0.9476,
   'id': 'GHCND:USC00211771',
   'elevationUnit': 'METERS',
   'longitude': -92.5337},
  {'elevation': 403.3,
   'mindate': '1962-09-02',
   'maxdate': '2022-05-02',
   'latitude': 47.1687,
   'name': 'COTTON, MN US',
   'datacoverage': 0.6853,
   'id': 'GHCND:USC00211840',
   'elevationUnit': 'METERS',
   'longitude': -92.4629},
  {'elevation': 271.6,
   'mindate': '1890-01-01',
   'maxdate': '2022-04-20',
   'latitude': 47.8186,
   'name': 'CROOKSTON NW EXPERIMENTAL STATION, MN US',
   'datacoverage': 0.9804,
   'id': 'GHCND:USC00211891',
   'elevationUnit': 'METERS',
   'longitude': -96.6139},
  {'elevation': 324.6,
   'mindate': '2003-08-01',
   'maxdate': '2022-04-18',
   'latitude': 45.04181,
   'name': 'DASSEL 3 SE, MN US',
   'datacoverage': 0.9501,
   'id': 'GHCND:USC00212023',
   'elevationUnit': 'METERS',
   'longitude': -94.27818},
  {'elevation': 297.2,
   'mindate': '1977-12-01',
   'maxdate': '2022-04-30',
   'latitude': 45.04698,
   'name': 'DELANO, MN US',
   'datacoverage': 0.84,
   'id': 'GHCND:USC00212088',
   'elevationUnit': 'METERS',
   'longitude': -93.77717},
  {'elevation': 413,
   'mindate': '1895-12-01',
   'maxdate': '2021-06-07',
   'latitude': 46.8373,
   'name': 'DETROIT LAKES 1 NNE, MN US',
   'datacoverage': 0.9524,
   'id': 'GHCND:USC00212142',
   'elevationUnit': 'METERS',
   'longitude': -95.8375},
  {'elevation': 470,
   'mindate': '2009-11-01',
   'maxdate': '2022-03-31',
   'latitude': 46.8576,
   'name': 'DETROIT LAKES 12 E, MN US',
   'datacoverage': 0.9976,
   'id': 'GHCND:USC00212146',
   'elevationUnit': 'METERS',
   'longitude': -95.6068},
  {'elevation': 436.8,
   'mindate': '2011-10-04',
   'maxdate': '2022-05-02',
   'latitude': 46.8368,
   'name': 'DULUTH NWS, MN US',
   'datacoverage': 0.9591,
   'id': 'GHCND:USC00212250',
   'elevationUnit': 'METERS',
   'longitude': -92.2108},
  {'elevation': 268.2,
   'mindate': '1940-05-05',
   'maxdate': '2022-05-02',
   'latitude': 45.30525,
   'name': 'ELK RIVER, MN US',
   'datacoverage': 0.9102,
   'id': 'GHCND:USC00212500',
   'elevationUnit': 'METERS',
   'longitude': -93.58448},
  {'elevation': 437.4,
   'mindate': '1998-06-01',
   'maxdate': '2022-05-02',
   'latitude': 47.97463,
   'name': 'ELY 25 E, MN US',
   'datacoverage': 0.9261,
   'id': 'GHCND:USC00212555',
   'elevationUnit': 'METERS',
   'longitude': -91.44953},
  {'elevation': 449.6,
   'mindate': '2011-01-01',
   'maxdate': '2022-05-01',
   'latitude': 47.9056,
   'name': 'ELY, MN US',
   'datacoverage': 0.7927,
   'id': 'GHCND:USC00212561',
   'elevationUnit': 'METERS',
   'longitude': -91.8283},
  {'elevation': 434.3,
   'mindate': '1994-10-12',
   'maxdate': '2022-05-02',
   'latitude': 47.64317,
   'name': 'EMBARRASS, MN US',
   'datacoverage': 0.9722,
   'id': 'GHCND:USC00212576',
   'elevationUnit': 'METERS',
   'longitude': -92.22648},
  {'elevation': 440.4,
   'mindate': '1986-10-01',
   'maxdate': '2022-05-02',
   'latitude': 47.4581,
   'name': 'EVELETH WW PLANT, MN US',
   'datacoverage': 0.9685,
   'id': 'GHCND:USC00212645',
   'elevationUnit': 'METERS',
   'longitude': -92.5303},
  {'elevation': 292.6,
   'mindate': '1893-01-02',
   'maxdate': '2022-05-01',
   'latitude': 44.666,
   'name': 'FARMINGTON 3 NW, MN US',
   'datacoverage': 0.8889,
   'id': 'GHCND:USC00212737',
   'elevationUnit': 'METERS',
   'longitude': -93.17559},
  {'elevation': 384,
   'mindate': '1986-07-01',
   'maxdate': '2022-05-02',
   'latitude': 46.9728,
   'name': 'FLOODWOOD 3 NE, MN US',
   'datacoverage': 0.9879,
   'id': 'GHCND:USC00212842',
   'elevationUnit': 'METERS',
   'longitude': -92.87},
  {'elevation': 275.8,
   'mindate': '1958-10-09',
   'maxdate': '2022-05-02',
   'latitude': 45.33177,
   'name': 'FOREST LAKE 5 NE, MN US',
   'datacoverage': 0.9722,
   'id': 'GHCND:USC00212881',
   'elevationUnit': 'METERS',
   'longitude': -92.89827},
  {'elevation': 310.9,
   'mindate': '1956-10-02',
   'maxdate': '2022-01-31',
   'latitude': 44.55647,
   'name': 'GAYLORD, MN US',
   'datacoverage': 0.9926,
   'id': 'GHCND:USC00213076',
   'elevationUnit': 'METERS',
   'longitude': -94.22077},
  {'elevation': 269.7,
   'mindate': '1962-11-01',
   'maxdate': '2022-05-01',
   'latitude': 47.0792,
   'name': 'GEORGETOWN 1 E, MN US',
   'datacoverage': 0.9035,
   'id': 'GHCND:USC00213104',
   'elevationUnit': 'METERS',
   'longitude': -96.7758},
  {'elevation': 429.8,
   'mindate': '2019-08-08',
   'maxdate': '2022-04-29',
   'latitude': 45.66583,
   'name': 'GLENWOOD 1 N, MN US',
   'datacoverage': 0.9367,
   'id': 'GHCND:USC00213173',
   'elevationUnit': 'METERS',
   'longitude': -95.38688},
  {'elevation': 186.5,
   'mindate': '1900-05-01',
   'maxdate': '2022-04-28',
   'latitude': 47.7518,
   'name': 'GRAND MARAIS, MN US',
   'datacoverage': 0.8484,
   'id': 'GHCND:USC00213282',
   'elevationUnit': 'METERS',
   'longitude': -90.3282},
  {'elevation': 411.5,
   'mindate': '1893-01-01',
   'maxdate': '2022-05-01',
   'latitude': 43.7047,
   'name': 'GRAND MEADOW, MN US',
   'datacoverage': 0.9884,
   'id': 'GHCND:USC00213290',
   'elevationUnit': 'METERS',
   'longitude': -92.5644},
  {'elevation': 222.5,
   'mindate': '1895-01-10',
   'maxdate': '2022-05-01',
   'latitude': 47.9711,
   'name': 'GRAND PORTAGE RANGER STATION, MN US',
   'datacoverage': 0.3884,
   'id': 'GHCND:USC00213296',
   'elevationUnit': 'METERS',
   'longitude': -89.6908},
  {'elevation': 399.3,
   'mindate': '1915-06-01',
   'maxdate': '2021-12-31',
   'latitude': 47.2436,
   'name': 'GRAND RAPIDS FRS LAB, MN US',
   'datacoverage': 0.9959,
   'id': 'GHCND:USC00213303',
   'elevationUnit': 'METERS',
   'longitude': -93.4975},
  {'elevation': 283.5,
   'mindate': '1893-01-01',
   'maxdate': '2022-04-25',
   'latitude': 44.81346,
   'name': 'GRANITE FALLS, MN US',
   'datacoverage': 0.2642,
   'id': 'GHCND:USC00213311',
   'elevationUnit': 'METERS',
   'longitude': -95.55172},
  {'elevation': 370.3,
   'mindate': '1911-02-01',
   'maxdate': '2022-05-01',
   'latitude': 46.4119,
   'name': 'GULL LAKE DAM, MN US',
   'datacoverage': 0.7143,
   'id': 'GHCND:USC00213411',
   'elevationUnit': 'METERS',
   'longitude': -94.3608},
  {'elevation': 443.5,
   'mindate': '1951-08-27',
   'maxdate': '2022-05-02',
   'latitude': 48.1603,
   'name': 'GUNFLINT LAKE 10 NW, MN US',
   'datacoverage': 0.7238,
   'id': 'GHCND:USC00213417',
   'elevationUnit': 'METERS',
   'longitude': -90.8842},
  {'elevation': 248.4,
   'mindate': '1899-02-01',
   'maxdate': '2022-05-01',
   'latitude': 48.7715,
   'name': 'HALLOCK, MN US',
   'datacoverage': 0.8646,
   'id': 'GHCND:USC00213455',
   'elevationUnit': 'METERS',
   'longitude': -96.9406},
  {'elevation': 207.3,
   'mindate': '1893-08-01',
   'maxdate': '2022-05-02',
   'latitude': 44.7597,
   'name': 'HASTINGS DAM 2, MN US',
   'datacoverage': 0.6875,
   'id': 'GHCND:USC00213567',
   'elevationUnit': 'METERS',
   'longitude': -92.8689},
  {'elevation': 391.7,
   'mindate': '1959-10-01',
   'maxdate': '2022-05-02',
   'latitude': 46.3197,
   'name': 'ISLE 12 N, MN US',
   'datacoverage': 0.8973,
   'id': 'GHCND:USC00214103',
   'elevationUnit': 'METERS',
   'longitude': -93.5013},
  {'elevation': 454.2,
   'mindate': '1911-05-01',
   'maxdate': '2022-04-06',
   'latitude': 47.2255,
   'name': 'ITASCA UNIVERSITY OF MINN, MN US',
   'datacoverage': 0.9816,
   'id': 'GHCND:USC00214106',
   'elevationUnit': 'METERS',
   'longitude': -95.1919},
  {'elevation': 274.3,
   'mindate': '1942-01-11',
   'maxdate': '2022-05-02',
   'latitude': 44.6501,
   'name': 'JORDAN 1 SSW, MN US',
   'datacoverage': 0.9464,
   'id': 'GHCND:USC00214176',
   'elevationUnit': 'METERS',
   'longitude': -93.6356},
  {'elevation': 365.8,
   'mindate': '1997-11-01',
   'maxdate': '2022-04-17',
   'latitude': 48.4088,
   'name': 'KABETOGAMA, MN US',
   'datacoverage': 0.8383,
   'id': 'GHCND:USC00214191',
   'elevationUnit': 'METERS',
   'longitude': -93.0484},
  {'elevation': 413.6,
   'mindate': '1909-02-01',
   'maxdate': '2021-06-30',
   'latitude': 47.9422,
   'name': 'KELLIHER, MN US',
   'datacoverage': 0.4096,
   'id': 'GHCND:USC00214233',
   'elevationUnit': 'METERS',
   'longitude': -94.4553},
  {'elevation': 353.6,
   'mindate': '2008-11-01',
   'maxdate': '2022-05-02',
   'latitude': 45.3533,
   'name': 'KIMBALL 3 N, MN US',
   'datacoverage': 0.9884,
   'id': 'GHCND:USC00214373',
   'elevationUnit': 'METERS',
   'longitude': -94.3056},
  {'elevation': 197.2,
   'mindate': '1939-01-01',
   'maxdate': '2022-05-01',
   'latitude': 43.8657,
   'name': 'LA CRESCENT DAM 7, MN US',
   'datacoverage': 0.9882,
   'id': 'GHCND:USC00214418',
   'elevationUnit': 'METERS',
   'longitude': -91.31},
  {'elevation': 466.3,
   'mindate': '1948-08-01',
   'maxdate': '2022-04-30',
   'latitude': 43.7022,
   'name': 'LAKEFIELD 2 NE, MN US',
   'datacoverage': 0.3774,
   'id': 'GHCND:USC00214453',
   'elevationUnit': 'METERS',
   'longitude': -95.1519},
  {'elevation': 503.8,
   'mindate': '1973-05-01',
   'maxdate': '2022-04-24',
   'latitude': 43.99878,
   'name': 'LAKE WILSON, MN US',
   'datacoverage': 0.9572,
   'id': 'GHCND:USC00214534',
   'elevationUnit': 'METERS',
   'longitude': -95.94908},
  {'elevation': 347.5,
   'mindate': '1961-01-01',
   'maxdate': '2022-05-02',
   'latitude': 44.2395,
   'name': 'LAMBERTON SOUTHWEST RESEARCH AND OUTREACH CENTER, MN US',
   'datacoverage': 0.9985,
   'id': 'GHCND:USC00214546',
   'elevationUnit': 'METERS',
   'longitude': -95.3152},
  {'elevation': 396.8,
   'mindate': '1893-01-01',
   'maxdate': '2022-05-02',
   'latitude': 47.2467,
   'name': 'LEECH LAKE DAM, MN US',
   'datacoverage': 0.9713,
   'id': 'GHCND:USC00214652',
   'elevationUnit': 'METERS',
   'longitude': -94.2228},
  {'elevation': 341.4,
   'mindate': '1908-01-01',
   'maxdate': '2022-04-28',
   'latitude': 45.1279,
   'name': 'LITCHFIELD, MN US',
   'datacoverage': 0.7185,
   'id': 'GHCND:USC00214778',
   'elevationUnit': 'METERS',
   'longitude': -94.5348},
  {'elevation': 408.4,
   'mindate': '1893-03-01',
   'maxdate': '2022-05-02',
   'latitude': 45.9646,
   'name': 'LONG PRAIRIE, MN US',
   'datacoverage': 0.796,
   'id': 'GHCND:USC00214861',
   'elevationUnit': 'METERS',
   'longitude': -94.8892},
  {'elevation': 229.8,
   'mindate': '1991-09-01',
   'maxdate': '2022-05-02',
   'latitude': 44.9784,
   'name': 'LOWER ST. ANTHONY FALLS, MN US',
   'datacoverage': 0.9792,
   'id': 'GHCND:USC00214884',
   'elevationUnit': 'METERS',
   'longitude': -93.2469},
  {'elevation': 338.9,
   'mindate': '2013-12-18',
   'maxdate': '2022-05-02',
   'latitude': 43.52433,
   'name': 'MABEL, MN US',
   'datacoverage': 0.9971,
   'id': 'GHCND:USC00214990',
   'elevationUnit': 'METERS',
   'longitude': -91.76141},
  {'elevation': 327.7,
   'mindate': '1940-05-01',
   'maxdate': '2022-04-27',
   'latitude': 45.00236,
   'name': 'MADISON WWTP, MN US',
   'datacoverage': 0.9616,
   'id': 'GHCND:USC00214994',
   'elevationUnit': 'METERS',
   'longitude': -96.16611},
  {'elevation': 369.4,
   'mindate': '1927-01-03',
   'maxdate': '2021-11-30',
   'latitude': 47.3169,
   'name': 'MAHNOMEN, MN US',
   'datacoverage': 0.7625,
   'id': 'GHCND:USC00215012',
   'elevationUnit': 'METERS',
   'longitude': -95.9691},
  {'elevation': 350.2,
   'mindate': '1935-04-22',
   'maxdate': '2022-05-02',
   'latitude': 44.4716,
   'name': 'MARSHALL, MN US',
   'datacoverage': 0.9904,
   'id': 'GHCND:USC00215204',
   'elevationUnit': 'METERS',
   'longitude': -95.79019},
  {'elevation': 364.2,
   'mindate': '1954-12-01',
   'maxdate': '2022-05-02',
   'latitude': 45.6771,
   'name': 'MELROSE, MN US',
   'datacoverage': 0.973,
   'id': 'GHCND:USC00215325',
   'elevationUnit': 'METERS',
   'longitude': -94.802},
  {'elevation': 324.3,
   'mindate': '1897-02-01',
   'maxdate': '2022-05-02',
   'latitude': 45.7532,
   'name': 'MILACA, MN US',
   'datacoverage': 0.9152,
   'id': 'GHCND:USC00215392',
   'elevationUnit': 'METERS',
   'longitude': -93.6617},
  {'elevation': 310.9,
   'mindate': '1893-08-01',
   'maxdate': '2022-05-01',
   'latitude': 45.1219,
   'name': 'MILAN 1 NW, MN US',
   'datacoverage': 0.9968,
   'id': 'GHCND:USC00215400',
   'elevationUnit': 'METERS',
   'longitude': -95.9269},
  {'elevation': 204.2,
   'mindate': '1939-01-01',
   'maxdate': '2022-05-02',
   'latitude': 44.1601,
   'name': 'MINNESOTA CITY DAM 5, MN US',
   'datacoverage': 0.9902,
   'id': 'GHCND:USC00215488',
   'elevationUnit': 'METERS',
   'longitude': -91.8121},
  {'elevation': 310.3,
   'mindate': '1904-06-15',
   'maxdate': '2022-05-01',
   'latitude': 45.8776,
   'name': 'MORA, MN US',
   'datacoverage': 0.9897,
   'id': 'GHCND:USC00215615',
   'elevationUnit': 'METERS',
   'longitude': -93.3147},
  {'elevation': 347.5,
   'mindate': '1886-01-01',
   'maxdate': '2022-03-31',
   'latitude': 45.5901,
   'name': 'MORRIS WEST CENTRAL RESEARCH AND OUTREACH CENTER, MN US',
   'datacoverage': 0.9933,
   'id': 'GHCND:USC00215638',
   'elevationUnit': 'METERS',

# Creating a Point Feature Class for the Available Stations

In [ ]:
# Creating an empty feature class of type Point
stations = stations_j['results']
workspace = arcpy.env.workspace
arcpy.CreateFeatureclass_management(workspace,"stations","POINT","","DISABLED","DISABLED",arcpy.SpatialReference(4269))

In [ ]:
# Adding fields to the feature class
arcpy.AddField_management("stations","id","TEXT","","",100)
arcpy.AddField_management("stations","name","TEXT","","",100)
arcpy.AddField_management("stations","mindate","DATE")
arcpy.AddField_management("stations","maxdate","DATE")

In [ ]:
# Creating a cursor to add the info to the feature class
cur = arcpy.da.InsertCursor("stations", ["id", "name", "mindate", "maxdate", "Shape@"])

for s in stations:
   
    point = arcpy.Point(s['longitude'],s['latitude'])
    row = [s["id"],s["name"],s["mindate"],s["maxdate"],point]
   
    cur.insertRow(row)
   
del cur

# Request Temperature Data

In [18]:
# Creating a list of the stations that can be looped through to download data
stations_list = []
for station in stations:
    stations_list.append(station['id'])

In [19]:
# Base URL for requesting temperature data
data_req_url = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data?'

## Daily Minimum Temps at Each Station

In [20]:
# Creating a dictionary of the stations to hold Min temp data for each station
stations_dict_min = dict.fromkeys(stations_list)

In [21]:
# Looping through the list of stations 
# and making requests for the min temp for each station
# for the time period.
for s_name in stations_list:
    min_params = {'datasetid': 'GHCND', 'datatypeid': 'TMIN', 'units': 'standard', 'limit': '365', 'stationid': s_name, 'startdate': (datetime.now() - timedelta(days=365)).strftime('%Y-%m-%d'), 'enddate': datetime.now().strftime('%Y-%m-%d')}
    # make the api call
    min_req = requests.get(data_req_url, params = min_params, headers = {'token':Token})
    # load the api response as a json
    min_d = min_req.json()
    stations_dict_min[s_name] = min_d

In [23]:
# Creating an Array of Arrays by looping through
# The min-temp json and grabbing the date, temp, and station id and
# Appending them to a list then appending that to the 'all-station array'
min_all_station_array = []
for station in stations_dict_min:
    for results in stations_dict_min[station]['results']:
        station_array = []
        station_array.append(results['date'])
        station_array.append(results['value'])
        station_array.append(results['station'])
        min_all_station_array.append(station_array)

In [24]:
# Creating a dataframe from the array and naming the columns
all_min_temps = pd.DataFrame(min_all_station_array, columns = ['datetime', 'min_temp', 'station'])

In [ ]:
# Pivoting the dataframe so that the index is station id and each day is a column
min_station_data = df.pivot(index = 'station', columns = 'datetime', values = 'min_temp')
min_station_data

## Daily Maximum Temps at Each Station

In [ ]:
# Creating a dictionary of the stations to hold data for each station
stations_dict_max = dict.fromkeys(stations_list)

In [ ]:
# Looping through the list of stations and making requests for the max temp for each station
# for the time period.
for s_name in stations_list:
    max_params = {'datasetid': 'GHCND', 'datatypeid': 'TMAX', 'units': 'standard', 'limit': '365', 'stationid': s_name, 'startdate': (datetime.now() - timedelta(days=365)).strftime('%Y-%m-%d'), 'enddate': datetime.now().strftime('%Y-%m-%d')}
    # make the api call
    max_req = requests.get(data_req_url, params = max_params, headers = {'token':Token})
    # load the api response as a json
    max_d = max_req.json()
    stations_dict_max[s_name] = max_d

In [ ]:
all_station_array = []
for station in stations_dict_max:
    for results in stations_dict_max[station]['results']:
        station_array = []
        station_array.append(results['date'])
        station_array.append(results['value'])
        station_array.append(results['station'])
        all_station_array.append(station_array)

In [ ]:
df_max = pd.DataFrame(all_station_array, columns = ['datetime', 'max_temp', 'station'])

In [ ]:
# Pivoting the dataframe so that the index is station id and each day is a column
df_max_pivot_station = df_max.pivot(index = 'station', columns = 'datetime', values = 'max_temp')
df_max_pivot_station

## Joining both min and max to one df > csv

In [ ]:
all_data = pd.merge(df_pivot_station, df_max_pivot_station, 'outer', on = 'station')

In [ ]:
all_data.to_csv(r"C:\Users\ecava\Documents\ArcGIS\Projects\Lab2\temp_data.csv")

In [ ]:
# Join
arcpy.management.AddJoin("stations", "id", "temp_data.csv", "station", "KEEP_ALL", "NO_INDEX_JOIN_FIELDS")

In [ ]:
# Arcpy describe or pd columns
days_list = list(all_data.columns)

# QCQA here after

In [2]:
import pandas as pd
temp_dat = r'C:\Users\umn-ahmad178\Desktop\lab3\final2\temp_data.csv'
temp_pd = pd.read_csv(temp_dat)

temp_pd

,station,2021-05-02 00:00:00_x,2021-05-03 00:00:00_x,2021-05-04 00:00:00_x,2021-05-05 00:00:00_x,2021-05-06 00:00:00_x,2021-05-07 00:00:00_x,2021-05-08 00:00:00_x,2021-05-09 00:00:00_x,2021-05-10 00:00:00_x,...,2022-04-18 00:00:00_y,2022-04-19 00:00:00_y,2022-04-20 00:00:00_y,2022-04-21 00:00:00_y,2022-04-22 00:00:00_y,2022-04-23 00:00:00_y,2022-04-24 00:00:00_y,2022-04-25 00:00:00_y,2022-04-26 00:00:00_y,2022-04-27 00:00:00_y
0,GHCND:CA006020559,35.0,43.0,36.0,24.0,23.0,28.0,25.0,28.0,30.0,...,36.0,43.0,36.0,41.0,41.0,48.0,45.0,42.0,36.0,NaN
1,GHCND:USC00210018,44.0,39.0,25.0,24.0,25.0,23.0,25.0,25.0,27.0,...,NaN,NaN,NaN,44.0,42.0,43.0,72.0,NaN,NaN,NaN
2,GHCND:USC00210050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GHCND:USC00210059,38.0,36.0,38.0,27.0,29.0,28.0,30.0,34.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GHCND:USC00210075,58.0,46.0,40.0,37.0,39.0,41.0,38.0,38.0,41.0,...,52.0,44.0,51.0,54.0,61.0,67.0,73.0,57.0,50.0,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,GHCND:USW00094960,50.0,47.0,37.0,33.0,40.0,34.0,33.0,36.0,33.0,...,38.0,48.0,46.0,56.0,55.0,75.0,53.0,39.0,43.0,50.0
174,GHCND:USW00094961,34.0,39.0,34.0,25.0,25.0,30.0,28.0,33.0,30.0,...,37.0,46.0,40.0,44.0,43.0,50.0,51.0,30.0,38.0,48.0
175,GHCND:USW00094963,54.0,48.0,41.0,37.0,37.0,38.0,37.0,37.0,40.0,...,37.0,47.0,46.0,56.0,56.0,75.0,50.0,37.0,43.0,51.0
176,GHCND:USW00094967,49.0,41.0,30.0,28.0,29.0,29.0,25.0,29.0,30.0,...,34.0,43.0,39.0,45.0,43.0,68.0,47.0,30.0,35.0,48.0
177,GHCND:USW00094992,39.0,40.0,39.0,34.0,31.0,33.0,33.0,36.0,32.0,...,36.0,41.0,35.0,49.0,40.0,47.0,46.0,40.0,34.0,35.0

In [3]:
# temp_pd.transpose()
temp_pd_tp = temp_pd.transpose().iloc[1:].rename(columns=temp_pd.transpose().iloc[0]).reset_index()
temp_pd_tp

,index,GHCND:CA006020559,GHCND:USC00210018,GHCND:USC00210050,GHCND:USC00210059,GHCND:USC00210075,GHCND:USC00210190,GHCND:USC00210287,GHCND:USC00210355,GHCND:USC00210387,...,GHCND:USW00014927,GHCND:USW00014992,GHCND:USW00054932,GHCND:USW00094931,GHCND:USW00094938,GHCND:USW00094960,GHCND:USW00094961,GHCND:USW00094963,GHCND:USW00094967,GHCND:USW00094992
0,2021-05-02 00:00:00_x,35,44,NaN,38,58,49,53,46,41,...,51,52,42,43,50,50,34,54,49,39
1,2021-05-03 00:00:00_x,43,39,NaN,36,46,45,44,55,38,...,50,43,40,38,43,47,39,48,41,40
2,2021-05-04 00:00:00_x,36,25,NaN,38,40,37,30,39,35,...,41,36,33,27,32,37,34,41,30,39
3,2021-05-05 00:00:00_x,24,24,NaN,27,37,29,35,34,25,...,35,33,28,22,28,33,25,37,28,34
4,2021-05-06 00:00:00_x,23,25,NaN,29,39,30,35,38,23,...,38,34,31,23,35,40,25,37,29,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,2022-04-23 00:00:00_y,48,43,NaN,NaN,67,NaN,77,62,NaN,...,75,79,70,51,74,75,50,75,68,47
718,2022-04-24 00:00:00_y,45,72,NaN,NaN,73,NaN,59,73,NaN,...,53,48,56,49,54,53,51,50,47,46
719,2022-04-25 00:00:00_y,42,NaN,NaN,NaN,57,NaN,37,47,NaN,...,38,34,35,33,34,39,30,37,30,40
720,2022-04-26 00:00:00_y,36,NaN,NaN,NaN,50,NaN,38,35,NaN,...,43,43,36,31,36,43,38,43,35,34
721,2022-04-27 00:00:00_y,NaN,NaN,NaN,NaN,56,NaN,50,42,NaN,...,50,49,NaN,45,49,50,48,51,48,35

In [5]:
original_null_percent = list((temp_pd_tp.isna().sum()/len(temp_pd_tp))*100)
original_null_percent

[0.0,
 0.13850415512465375,
 11.911357340720222,
 23.130193905817176,
 32.686980609418285,
 0.2770083102493075,
 16.06648199445983,
 2.7700831024930745,
 1.3850415512465373,
 31.57894736842105,
 25.90027700831025,
 4.570637119113574,
 31.440443213296398,
 0.41551246537396125,
 11.634349030470915,
 21.88365650969529,
 0.0,
 7.894736842105263,
 9.141274238227147,
 0.8310249307479225,
 4.847645429362881,
 12.326869806094184,
 4.986149584487535,
 0.6925207756232686,
 4.1551246537396125,
 0.6925207756232686,
 11.218836565096952,
 0.0,
 32.40997229916898,
 28.80886426592798,
 11.634349030470915,
 19.94459833795014,
 33.933518005540165,
 92.797783933518,
 8.033240997229916,
 0.554016620498615,
 0.13850415512465375,
 5.8171745152354575,
 7.756232686980609,
 0.0,
 31.024930747922436,
 4.293628808864266,
 1.3850415512465373,
 22.160664819944596,
 23.822714681440445,
 5.540166204986149,
 4.293628808864266,
 13.71191135734072,
 12.742382271468145,
 20.3601108033241,
 32.40997229916898,
 19.113573407202217,
 22.99168975069252,
 10.249307479224377,
 25.346260387811636,
 0.13850415512465375,
 2.7700831024930745,
 14.40443213296399,
 19.113573407202217,
 4.7091412742382275,
 93.62880886426593,
 17.72853185595568,
 13.157894736842104,
 7.479224376731302,
 16.897506925207757,
 0.0,
 11.080332409972298,
 11.634349030470915,
 0.0,
 0.41551246537396125,
 1.662049861495845,
 11.634349030470915,
 66.4819944598338,
 0.2770083102493075,
 0.6925207756232686,
 0.8310249307479225,
 0.554016620498615,
 2.3545706371191137,
 0.8310249307479225,
 22.437673130193904,
 22.160664819944596,
 0.554016620498615,
 0.2770083102493075,
 13.573407202216067,
 0.41551246537396125,
 16.06648199445983,
 3.0470914127423825,
 0.554016620498615,
 3.8781163434903045,
 0.0,
 21.329639889196674,
 1.8005540166204987,
 1.5235457063711912,
 16.06648199445983,
 0.8310249307479225,
 3.32409972299169,
 0.0,
 6.9252077562326875,
 24.930747922437675,
 16.06648199445983,
 5.540166204986149,
 18.83656509695291,
 20.77562326869806,
 6.094182825484765,
 23.822714681440445,
 3.32409972299169,
 18.005540166204987,
 0.0,
 1.10803324099723,
 8.587257617728532,
 0.0,
 2.7700831024930745,
 1.10803324099723,
 14.542936288088642,
 5.540166204986149,
 25.20775623268698,
 51.52354570637119,
 1.2465373961218837,
 4.986149584487535,
 4.43213296398892,
 34.62603878116344,
 0.554016620498615,
 0.0,
 3.4626038781163437,
 4.847645429362881,
 1.662049861495845,
 0.0,
 0.2770083102493075,
 47.64542936288089,
 2.3545706371191137,
 0.0,
 6.232686980609419,
 0.2770083102493075,
 6.3711911357340725,
 3.32409972299169,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.2770083102493075,
 0.2770083102493075,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 0.0,
 0.2770083102493075,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.21606648199446,
 0.0,
 0.0,
 0.0,
 11.357340720221606,
 0.0,
 0.2770083102493075,
 2.21606648199446]

In [4]:
# download temperature data using the meteostat module (since 2022 March 1)
import arcpy
import pandas as pd
import arcgisscripting
from datetime import date, timedelta
from datetime import datetime
from meteostat import Stations, Daily, Point

gp = arcgisscripting.create()
path = r'C:\Users\umn-ahmad178\Desktop\lab3\final2'
shp = r'C:\Users\umn-ahmad178\Desktop\lab3\final2\dailytemp_bystation\dailytemp_bystation.shp'
arcpy.env.workspace = path

def get_weather(start, end, lat, lon, station_id, station_n):
    start = start.split('-')
    end = end.split('-')
    start = datetime(int(start[0]), int(start[1]), int(start[2]))
    end = datetime(int(end[0]), int(end[1]), int(end[2]))
    location = Point(lat, lon)
    met_data = Daily(location, start, end)
    met_data = met_data.fetch()
    met_data['station_id'] = station_id
    met_data['station_n'] = station_n
    met_data['lat'] = lat
    met_data['lon'] = lon
    return met_data

meteostat_data = pd.DataFrame([])
today = datetime.today().strftime('%Y-%m-%d')
yesterday = (date.today() - timedelta(days=2)).strftime('%Y-%m-%d')

#loop through the shapefile of the mn counties
with arcpy.da.SearchCursor(shp, ["SHAPE@XY", 'stations_i', 'stations_n']) as cursor:
    for row in cursor:
        station_id = str(row[1])
        station_n = str(row[2])
        lon = float(row[0][0])
        lat = float(row[0][1])
        temp_data = get_weather('2021-05-02', '2022-04-27', lat, lon, station_id, station_n).reset_index()
        meteostat_data = pd.concat([meteostat_data, temp_data])
    
meteostat_data.reset_index(drop=True, inplace=True)
meteostat_data = meteostat_data[['station_id','station_n','lat','lon','time','tavg','tmin','tmax']]
meteostat_data

,station_id,station_n,lat,lon,time,tavg,tmin,tmax
0,GHCND:CA006020559,"BARWICK, MN US",48.633300,-93.966700,2021-05-02,11.8,1.5,22.0
1,GHCND:CA006020559,"BARWICK, MN US",48.633300,-93.966700,2021-05-03,7.5,6.0,9.0
2,GHCND:CA006020559,"BARWICK, MN US",48.633300,-93.966700,2021-05-04,6.0,2.0,10.0
3,GHCND:CA006020559,"BARWICK, MN US",48.633300,-93.966700,2021-05-05,3.5,-4.5,11.5
4,GHCND:CA006020559,"BARWICK, MN US",48.633300,-93.966700,2021-05-06,3.8,-5.0,12.5
...,...,...,...,...,...,...,...,...
56688,GHCND:USW00094992,"GRAND MARAIS, MN US",47.745404,-90.345639,2022-04-23,4.5,2.4,8.0
56689,GHCND:USW00094992,"GRAND MARAIS, MN US",47.745404,-90.345639,2022-04-24,4.4,2.0,7.0
56690,GHCND:USW00094992,"GRAND MARAIS, MN US",47.745404,-90.345639,2022-04-25,1.8,-2.0,4.0
56691,GHCND:USW00094992,"GRAND MARAIS, MN US",47.745404,-90.345639,2022-04-26,-2.0,-4.0,1.0
56692,GHCND:USW00094992,"GRAND MARAIS, MN US",47.745404,-90.345639,2022-04-27,-1.5,-4.0,1.0

In [6]:
# Replace NaN values with available data from meteostat module
count_min = 0
count_max = 0
count_all = 0
for i in range(1, len(list(temp_pd_tp.columns))):
    for j in range(len(temp_pd_tp.iloc[:,i].isna())):
        if temp_pd_tp.iloc[:,i].isna()[j]:
            count_all += 1
            st_id = temp_pd_tp.iloc[:,i].name
            date = temp_pd_tp.loc[j,'index'][0:10]
            if temp_pd_tp.loc[j,'index'].endswith('x'):
                new_min = list(meteostat_data[(meteostat_data['time']==date)&(meteostat_data['station_id']==st_id)]['tmin'])
                if len(new_min) != 0:
                    count_min += 1
                    temp_pd_tp.iloc[:,i][j] = new_min[0]
            elif temp_pd_tp.loc[j,'index'].endswith('y'):
                new_max = list(meteostat_data[(meteostat_data['time']==date)&(meteostat_data['station_id']==st_id)]['tmax'])
                if len(new_max) != 0:
                    count_max += 1
                    temp_pd_tp.iloc[:,i][j] = new_max[0]
                    
print(f'from a total of {count_all} values, {count_min} min values, and {count_max} max values were replaced.')

from a total of 11455 values, 4547 min values, and 4461 max values were replaced.

In [7]:
new_null_percent = list((temp_pd_tp.isna().sum()/len(temp_pd_tp))*100)
new_null_percent

[0.0,
 0.0,
 11.911357340720222,
 22.022160664819946,
 0.2770083102493075,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 31.440443213296398,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 12.326869806094184,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.2770083102493075,
 0.0,
 0.13850415512465375,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 1.3850415512465373,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 20.3601108033241,
 0.2770083102493075,
 0.2770083102493075,
 0.2770083102493075,
 10.249307479224377,
 0.0,
 0.0,
 0.0,
 14.40443213296399,
 0.2770083102493075,
 0.0,
 92.5207756232687,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 13.573407202216067,
 0.0,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 16.06648199445983,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 1.10803324099723,
 8.587257617728532,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.2465373961218837,
 0.0,
 0.0,
 33.51800554016621,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 47.64542936288089,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [10]:
# the percent of the records that were filled
diffs = [original_null_percent[i]-new_null_percent[i] for i in range(len(original_null_percent))]
diffs

[0.0,
 0.13850415512465375,
 0.0,
 1.10803324099723,
 32.40997229916898,
 0.2770083102493075,
 15.789473684210524,
 2.7700831024930745,
 1.3850415512465373,
 31.301939058171744,
 25.623268698060944,
 4.570637119113574,
 0.0,
 0.41551246537396125,
 11.634349030470915,
 21.60664819944598,
 0.0,
 7.894736842105263,
 9.141274238227147,
 0.8310249307479225,
 4.847645429362881,
 0.0,
 4.986149584487535,
 0.6925207756232686,
 4.1551246537396125,
 0.6925207756232686,
 11.218836565096952,
 0.0,
 32.13296398891967,
 28.80886426592798,
 11.357340720221607,
 19.94459833795014,
 33.795013850415515,
 92.52077562326869,
 8.033240997229916,
 0.554016620498615,
 0.13850415512465375,
 5.8171745152354575,
 7.756232686980609,
 0.0,
 30.74792243767313,
 4.293628808864266,
 0.0,
 21.88365650969529,
 23.545706371191137,
 5.540166204986149,
 4.293628808864266,
 13.434903047091412,
 12.742382271468145,
 0.0,
 32.13296398891967,
 18.83656509695291,
 22.71468144044321,
 0.0,
 25.346260387811636,
 0.13850415512465375,
 2.7700831024930745,
 0.0,
 18.83656509695291,
 4.7091412742382275,
 1.10803324099723,
 17.72853185595568,
 13.157894736842104,
 7.479224376731302,
 16.62049861495845,
 0.0,
 10.80332409972299,
 11.634349030470915,
 0.0,
 0.41551246537396125,
 1.662049861495845,
 11.634349030470915,
 66.2049861495845,
 0.2770083102493075,
 0.6925207756232686,
 0.8310249307479225,
 0.554016620498615,
 2.3545706371191137,
 0.8310249307479225,
 22.437673130193904,
 21.88365650969529,
 0.554016620498615,
 0.2770083102493075,
 0.0,
 0.41551246537396125,
 15.789473684210524,
 2.770083102493075,
 0.554016620498615,
 3.8781163434903045,
 0.0,
 21.052631578947366,
 1.8005540166204987,
 1.5235457063711912,
 0.0,
 0.8310249307479225,
 3.32409972299169,
 0.0,
 6.9252077562326875,
 24.653739612188367,
 16.06648199445983,
 5.540166204986149,
 18.83656509695291,
 20.49861495844875,
 6.094182825484765,
 23.822714681440445,
 3.32409972299169,
 17.72853185595568,
 0.0,
 0.0,
 0.0,
 0.0,
 2.7700831024930745,
 1.10803324099723,
 14.542936288088642,
 5.540166204986149,
 25.20775623268698,
 51.52354570637119,
 0.0,
 4.986149584487535,
 4.43213296398892,
 1.10803324099723,
 0.554016620498615,
 0.0,
 3.4626038781163437,
 4.847645429362881,
 1.662049861495845,
 0.0,
 0.2770083102493075,
 0.0,
 2.3545706371191137,
 0.0,
 6.232686980609419,
 0.2770083102493075,
 6.3711911357340725,
 3.32409972299169,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.2770083102493075,
 0.2770083102493075,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 0.0,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.21606648199446,
 0.0,
 0.0,
 0.0,
 11.357340720221606,
 0.0,
 0.2770083102493075,
 2.21606648199446]

In [13]:
new_null_percent

[0.0,
 0.0,
 11.911357340720222,
 22.022160664819946,
 0.2770083102493075,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 31.440443213296398,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 12.326869806094184,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.2770083102493075,
 0.0,
 0.13850415512465375,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 1.3850415512465373,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 20.3601108033241,
 0.2770083102493075,
 0.2770083102493075,
 0.2770083102493075,
 10.249307479224377,
 0.0,
 0.0,
 0.0,
 14.40443213296399,
 0.2770083102493075,
 0.0,
 92.5207756232687,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 13.573407202216067,
 0.0,
 0.2770083102493075,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 16.06648199445983,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 1.10803324099723,
 8.587257617728532,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.2465373961218837,
 0.0,
 0.0,
 33.51800554016621,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 47.64542936288089,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2770083102493075,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [17]:
temp_pd_tp

,index,GHCND:CA006020559,GHCND:USC00210018,GHCND:USC00210050,GHCND:USC00210059,GHCND:USC00210075,GHCND:USC00210190,GHCND:USC00210287,GHCND:USC00210355,GHCND:USC00210387,...,GHCND:USW00014927,GHCND:USW00014992,GHCND:USW00054932,GHCND:USW00094931,GHCND:USW00094938,GHCND:USW00094960,GHCND:USW00094961,GHCND:USW00094963,GHCND:USW00094967,GHCND:USW00094992
0,2021-05-02 00:00:00_x,35,44,NaN,38,58,49,53,46,41,...,51,52,42,43,50,50,34,54,49,39
1,2021-05-03 00:00:00_x,43,39,NaN,36,46,45,44,55,38,...,50,43,40,38,43,47,39,48,41,40
2,2021-05-04 00:00:00_x,36,25,NaN,38,40,37,30,39,35,...,41,36,33,27,32,37,34,41,30,39
3,2021-05-05 00:00:00_x,24,24,NaN,27,37,29,35,34,25,...,35,33,28,22,28,33,25,37,28,34
4,2021-05-06 00:00:00_x,23,25,NaN,29,39,30,35,38,23,...,38,34,31,23,35,40,25,37,29,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,2022-04-23 00:00:00_y,48,43,NaN,19,67,23,77,62,9,...,75,79,70,51,74,75,50,75,68,47
718,2022-04-24 00:00:00_y,45,72,9,13,73,13,59,73,8,...,53,48,56,49,54,53,51,50,47,46
719,2022-04-25 00:00:00_y,42,NaN,-3,0,57,4,37,47,2,...,38,34,35,33,34,39,30,37,30,40
720,2022-04-26 00:00:00_y,36,NaN,3,1,50,6,38,35,-1,...,43,43,36,31,36,43,38,43,35,34
721,2022-04-27 00:00:00_y,7.5,NaN,9,8,56,11,50,42,7,...,50,49,9,45,49,50,48,51,48,35

# Growing Degree Days

For corn, the degree-day accumulation base is 50.

In [21]:
temp_mins = temp_pd_tp[temp_pd_tp['index'].str.contains('x')]
temp_maxes = temp_pd_tp[temp_pd_tp['index'].str.contains('y')]
temp_maxes

,index,GHCND:CA006020559,GHCND:USC00210018,GHCND:USC00210050,GHCND:USC00210059,GHCND:USC00210075,GHCND:USC00210190,GHCND:USC00210287,GHCND:USC00210355,GHCND:USC00210387,...,GHCND:USW00014927,GHCND:USW00014992,GHCND:USW00054932,GHCND:USW00094931,GHCND:USW00094938,GHCND:USW00094960,GHCND:USW00094961,GHCND:USW00094963,GHCND:USW00094967,GHCND:USW00094992
361,2021-05-02 00:00:00_y,72,86,NaN,89,91,88,87,91,77,...,68,71,70,75,73,67,70,70,75,53
362,2021-05-03 00:00:00_y,48,72,NaN,66,83,65,64,82,73,...,68,64,60,53,59,68,50,67,58,50
363,2021-05-04 00:00:00_y,50,52,NaN,53,67,65,58,67,47,...,61,60,57,52,56,60,51,59,54,58
364,2021-05-05 00:00:00_y,53,59,NaN,54,59,58,56,59,50,...,55,51,58,53,58,54,52,54,57,48
365,2021-05-06 00:00:00_y,54,57,NaN,60,57,56,68,58,51,...,63,65,60,55,61,62,56,62,62,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,2022-04-23 00:00:00_y,48,43,NaN,19,67,23,77,62,9,...,75,79,70,51,74,75,50,75,68,47
718,2022-04-24 00:00:00_y,45,72,9,13,73,13,59,73,8,...,53,48,56,49,54,53,51,50,47,46
719,2022-04-25 00:00:00_y,42,NaN,-3,0,57,4,37,47,2,...,38,34,35,33,34,39,30,37,30,40
720,2022-04-26 00:00:00_y,36,NaN,3,1,50,6,38,35,-1,...,43,43,36,31,36,43,38,43,35,34
721,2022-04-27 00:00:00_y,7.5,NaN,9,8,56,11,50,42,7,...,50,49,9,45,49,50,48,51,48,35

In [22]:
temp_means = temp_maxes.copy()
temp_means

,index,GHCND:CA006020559,GHCND:USC00210018,GHCND:USC00210050,GHCND:USC00210059,GHCND:USC00210075,GHCND:USC00210190,GHCND:USC00210287,GHCND:USC00210355,GHCND:USC00210387,...,GHCND:USW00014927,GHCND:USW00014992,GHCND:USW00054932,GHCND:USW00094931,GHCND:USW00094938,GHCND:USW00094960,GHCND:USW00094961,GHCND:USW00094963,GHCND:USW00094967,GHCND:USW00094992
361,2021-05-02 00:00:00_y,72,86,NaN,89,91,88,87,91,77,...,68,71,70,75,73,67,70,70,75,53
362,2021-05-03 00:00:00_y,48,72,NaN,66,83,65,64,82,73,...,68,64,60,53,59,68,50,67,58,50
363,2021-05-04 00:00:00_y,50,52,NaN,53,67,65,58,67,47,...,61,60,57,52,56,60,51,59,54,58
364,2021-05-05 00:00:00_y,53,59,NaN,54,59,58,56,59,50,...,55,51,58,53,58,54,52,54,57,48
365,2021-05-06 00:00:00_y,54,57,NaN,60,57,56,68,58,51,...,63,65,60,55,61,62,56,62,62,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,2022-04-23 00:00:00_y,48,43,NaN,19,67,23,77,62,9,...,75,79,70,51,74,75,50,75,68,47
718,2022-04-24 00:00:00_y,45,72,9,13,73,13,59,73,8,...,53,48,56,49,54,53,51,50,47,46
719,2022-04-25 00:00:00_y,42,NaN,-3,0,57,4,37,47,2,...,38,34,35,33,34,39,30,37,30,40
720,2022-04-26 00:00:00_y,36,NaN,3,1,50,6,38,35,-1,...,43,43,36,31,36,43,38,43,35,34
721,2022-04-27 00:00:00_y,7.5,NaN,9,8,56,11,50,42,7,...,50,49,9,45,49,50,48,51,48,35

In [35]:
mean_dates = [el[:-1]+'m' for el in temp_means['index']]
mean_dates

['2021-05-02 00:00:00_m',
 '2021-05-03 00:00:00_m',
 '2021-05-04 00:00:00_m',
 '2021-05-05 00:00:00_m',
 '2021-05-06 00:00:00_m',
 '2021-05-07 00:00:00_m',
 '2021-05-08 00:00:00_m',
 '2021-05-09 00:00:00_m',
 '2021-05-10 00:00:00_m',
 '2021-05-11 00:00:00_m',
 '2021-05-12 00:00:00_m',
 '2021-05-13 00:00:00_m',
 '2021-05-14 00:00:00_m',
 '2021-05-15 00:00:00_m',
 '2021-05-16 00:00:00_m',
 '2021-05-17 00:00:00_m',
 '2021-05-18 00:00:00_m',
 '2021-05-19 00:00:00_m',
 '2021-05-20 00:00:00_m',
 '2021-05-21 00:00:00_m',
 '2021-05-22 00:00:00_m',
 '2021-05-23 00:00:00_m',
 '2021-05-24 00:00:00_m',
 '2021-05-25 00:00:00_m',
 '2021-05-26 00:00:00_m',
 '2021-05-27 00:00:00_m',
 '2021-05-28 00:00:00_m',
 '2021-05-29 00:00:00_m',
 '2021-05-30 00:00:00_m',
 '2021-05-31 00:00:00_m',
 '2021-06-01 00:00:00_m',
 '2021-06-02 00:00:00_m',
 '2021-06-03 00:00:00_m',
 '2021-06-04 00:00:00_m',
 '2021-06-05 00:00:00_m',
 '2021-06-06 00:00:00_m',
 '2021-06-07 00:00:00_m',
 '2021-06-08 00:00:00_m',
 '2021-06-09 00:00:00_m',
 '2021-06-10 00:00:00_m',
 '2021-06-11 00:00:00_m',
 '2021-06-12 00:00:00_m',
 '2021-06-13 00:00:00_m',
 '2021-06-14 00:00:00_m',
 '2021-06-15 00:00:00_m',
 '2021-06-16 00:00:00_m',
 '2021-06-17 00:00:00_m',
 '2021-06-18 00:00:00_m',
 '2021-06-19 00:00:00_m',
 '2021-06-20 00:00:00_m',
 '2021-06-21 00:00:00_m',
 '2021-06-22 00:00:00_m',
 '2021-06-23 00:00:00_m',
 '2021-06-24 00:00:00_m',
 '2021-06-25 00:00:00_m',
 '2021-06-26 00:00:00_m',
 '2021-06-27 00:00:00_m',
 '2021-06-28 00:00:00_m',
 '2021-06-29 00:00:00_m',
 '2021-06-30 00:00:00_m',
 '2021-07-01 00:00:00_m',
 '2021-07-02 00:00:00_m',
 '2021-07-03 00:00:00_m',
 '2021-07-04 00:00:00_m',
 '2021-07-05 00:00:00_m',
 '2021-07-06 00:00:00_m',
 '2021-07-07 00:00:00_m',
 '2021-07-08 00:00:00_m',
 '2021-07-09 00:00:00_m',
 '2021-07-10 00:00:00_m',
 '2021-07-11 00:00:00_m',
 '2021-07-12 00:00:00_m',
 '2021-07-13 00:00:00_m',
 '2021-07-14 00:00:00_m',
 '2021-07-15 00:00:00_m',
 '2021-07-16 00:00:00_m',
 '2021-07-17 00:00:00_m',
 '2021-07-18 00:00:00_m',
 '2021-07-19 00:00:00_m',
 '2021-07-20 00:00:00_m',
 '2021-07-21 00:00:00_m',
 '2021-07-22 00:00:00_m',
 '2021-07-23 00:00:00_m',
 '2021-07-24 00:00:00_m',
 '2021-07-25 00:00:00_m',
 '2021-07-26 00:00:00_m',
 '2021-07-27 00:00:00_m',
 '2021-07-28 00:00:00_m',
 '2021-07-29 00:00:00_m',
 '2021-07-30 00:00:00_m',
 '2021-07-31 00:00:00_m',
 '2021-08-01 00:00:00_m',
 '2021-08-02 00:00:00_m',
 '2021-08-03 00:00:00_m',
 '2021-08-04 00:00:00_m',
 '2021-08-05 00:00:00_m',
 '2021-08-06 00:00:00_m',
 '2021-08-07 00:00:00_m',
 '2021-08-08 00:00:00_m',
 '2021-08-09 00:00:00_m',
 '2021-08-10 00:00:00_m',
 '2021-08-11 00:00:00_m',
 '2021-08-12 00:00:00_m',
 '2021-08-13 00:00:00_m',
 '2021-08-14 00:00:00_m',
 '2021-08-15 00:00:00_m',
 '2021-08-16 00:00:00_m',
 '2021-08-17 00:00:00_m',
 '2021-08-18 00:00:00_m',
 '2021-08-19 00:00:00_m',
 '2021-08-20 00:00:00_m',
 '2021-08-21 00:00:00_m',
 '2021-08-22 00:00:00_m',
 '2021-08-23 00:00:00_m',
 '2021-08-24 00:00:00_m',
 '2021-08-25 00:00:00_m',
 '2021-08-26 00:00:00_m',
 '2021-08-27 00:00:00_m',
 '2021-08-28 00:00:00_m',
 '2021-08-29 00:00:00_m',
 '2021-08-30 00:00:00_m',
 '2021-08-31 00:00:00_m',
 '2021-09-01 00:00:00_m',
 '2021-09-02 00:00:00_m',
 '2021-09-03 00:00:00_m',
 '2021-09-04 00:00:00_m',
 '2021-09-05 00:00:00_m',
 '2021-09-06 00:00:00_m',
 '2021-09-07 00:00:00_m',
 '2021-09-08 00:00:00_m',
 '2021-09-09 00:00:00_m',
 '2021-09-10 00:00:00_m',
 '2021-09-11 00:00:00_m',
 '2021-09-12 00:00:00_m',
 '2021-09-13 00:00:00_m',
 '2021-09-14 00:00:00_m',
 '2021-09-15 00:00:00_m',
 '2021-09-16 00:00:00_m',
 '2021-09-17 00:00:00_m',
 '2021-09-18 00:00:00_m',
 '2021-09-19 00:00:00_m',
 '2021-09-20 00:00:00_m',
 '2021-09-21 00:00:00_m',
 '2021-09-22 00:00:00_m',
 '2021-09-23 00:00:00_m',
 '2021-09-24 00:00:00_m',
 '2021-09-25 00:00:00_m',
 '2021-09-26 00:00:00_m',
 '2021-09-27 00:00:00_m',
 '2021-09-28 00:00:00_m',
 '2021-09-29 00:00:00_m',
 '2021-09-30 00:00:00_m',
 '2021-10-01 00:00:00_m',
 '2021-10-02 00:00:00_m',
 '2021-10-03 00:00:00_m',
 '2021-10-04 00:00:00_m',
 '2021-10-05 00:00:00_m',
 '2021-10-06 00:00:00_m',
 '2021-10-07 00:00:00_m',
 '2021-10-08 00:00:00_m',
 '2021-10-09 00:00:00_m',
 '2021-10-10 00:00:00_m',
 '2021-10-11 00:00:00_m',
 '2021-10-12 00:00:00_m',
 '2021-10-13 00:00:00_m',
 '2021-10-14 00:00:00_m',
 '2021-10-15 00:00:00_m',
 '2021-10-16 00:00:00_m',
 '2021-10-17 00:00:00_m',
 '2021-10-18 00:00:00_m',
 '2021-10-19 00:00:00_m',
 '2021-10-20 00:00:00_m',
 '2021-10-21 00:00:00_m',
 '2021-10-22 00:00:00_m',
 '2021-10-23 00:00:00_m',
 '2021-10-24 00:00:00_m',
 '2021-10-25 00:00:00_m',
 '2021-10-26 00:00:00_m',
 '2021-10-27 00:00:00_m',
 '2021-10-28 00:00:00_m',
 '2021-10-29 00:00:00_m',
 '2021-10-30 00:00:00_m',
 '2021-10-31 00:00:00_m',
 '2021-11-01 00:00:00_m',
 '2021-11-02 00:00:00_m',
 '2021-11-03 00:00:00_m',
 '2021-11-04 00:00:00_m',
 '2021-11-05 00:00:00_m',
 '2021-11-06 00:00:00_m',
 '2021-11-07 00:00:00_m',
 '2021-11-08 00:00:00_m',
 '2021-11-09 00:00:00_m',
 '2021-11-10 00:00:00_m',
 '2021-11-11 00:00:00_m',
 '2021-11-12 00:00:00_m',
 '2021-11-13 00:00:00_m',
 '2021-11-14 00:00:00_m',
 '2021-11-15 00:00:00_m',
 '2021-11-16 00:00:00_m',
 '2021-11-17 00:00:00_m',
 '2021-11-18 00:00:00_m',
 '2021-11-19 00:00:00_m',
 '2021-11-20 00:00:00_m',
 '2021-11-21 00:00:00_m',
 '2021-11-22 00:00:00_m',
 '2021-11-23 00:00:00_m',
 '2021-11-24 00:00:00_m',
 '2021-11-25 00:00:00_m',
 '2021-11-26 00:00:00_m',
 '2021-11-27 00:00:00_m',
 '2021-11-28 00:00:00_m',
 '2021-11-29 00:00:00_m',
 '2021-11-30 00:00:00_m',
 '2021-12-01 00:00:00_m',
 '2021-12-02 00:00:00_m',
 '2021-12-03 00:00:00_m',
 '2021-12-04 00:00:00_m',
 '2021-12-05 00:00:00_m',
 '2021-12-06 00:00:00_m',
 '2021-12-07 00:00:00_m',
 '2021-12-08 00:00:00_m',
 '2021-12-09 00:00:00_m',
 '2021-12-10 00:00:00_m',
 '2021-12-11 00:00:00_m',
 '2021-12-12 00:00:00_m',
 '2021-12-13 00:00:00_m',
 '2021-12-14 00:00:00_m',
 '2021-12-15 00:00:00_m',
 '2021-12-16 00:00:00_m',
 '2021-12-17 00:00:00_m',
 '2021-12-18 00:00:00_m',
 '2021-12-19 00:00:00_m',
 '2021-12-20 00:00:00_m',
 '2021-12-21 00:00:00_m',
 '2021-12-22 00:00:00_m',
 '2021-12-23 00:00:00_m',
 '2021-12-24 00:00:00_m',
 '2021-12-25 00:00:00_m',
 '2021-12-26 00:00:00_m',
 '2021-12-27 00:00:00_m',
 '2021-12-28 00:00:00_m',
 '2021-12-29 00:00:00_m',
 '2021-12-30 00:00:00_m',
 '2021-12-31 00:00:00_m',
 '2022-01-01 00:00:00_m',
 '2022-01-02 00:00:00_m',
 '2022-01-03 00:00:00_m',
 '2022-01-04 00:00:00_m',
 '2022-01-05 00:00:00_m',
 '2022-01-06 00:00:00_m',
 '2022-01-07 00:00:00_m',
 '2022-01-08 00:00:00_m',
 '2022-01-09 00:00:00_m',
 '2022-01-10 00:00:00_m',
 '2022-01-11 00:00:00_m',
 '2022-01-12 00:00:00_m',
 '2022-01-13 00:00:00_m',
 '2022-01-14 00:00:00_m',
 '2022-01-15 00:00:00_m',
 '2022-01-16 00:00:00_m',
 '2022-01-17 00:00:00_m',
 '2022-01-18 00:00:00_m',
 '2022-01-19 00:00:00_m',
 '2022-01-20 00:00:00_m',
 '2022-01-21 00:00:00_m',
 '2022-01-22 00:00:00_m',
 '2022-01-23 00:00:00_m',
 '2022-01-24 00:00:00_m',
 '2022-01-25 00:00:00_m',
 '2022-01-26 00:00:00_m',
 '2022-01-27 00:00:00_m',
 '2022-01-28 00:00:00_m',
 '2022-01-29 00:00:00_m',
 '2022-01-30 00:00:00_m',
 '2022-01-31 00:00:00_m',
 '2022-02-01 00:00:00_m',
 '2022-02-02 00:00:00_m',
 '2022-02-03 00:00:00_m',
 '2022-02-04 00:00:00_m',
 '2022-02-05 00:00:00_m',
 '2022-02-06 00:00:00_m',
 '2022-02-07 00:00:00_m',
 '2022-02-08 00:00:00_m',
 '2022-02-09 00:00:00_m',
 '2022-02-10 00:00:00_m',
 '2022-02-11 00:00:00_m',
 '2022-02-12 00:00:00_m',
 '2022-02-13 00:00:00_m',
 '2022-02-14 00:00:00_m',
 '2022-02-15 00:00:00_m',
 '2022-02-16 00:00:00_m',
 '2022-02-17 00:00:00_m',
 '2022-02-18 00:00:00_m',
 '2022-02-19 00:00:00_m',
 '2022-02-20 00:00:00_m',
 '2022-02-21 00:00:00_m',
 '2022-02-22 00:00:00_m',
 '2022-02-23 00:00:00_m',
 '2022-02-24 00:00:00_m',
 '2022-02-25 00:00:00_m',
 '2022-02-26 00:00:00_m',
 '2022-02-27 00:00:00_m',
 '2022-02-28 00:00:00_m',
 '2022-03-01 00:00:00_m',
 '2022-03-02 00:00:00_m',
 '2022-03-03 00:00:00_m',
 '2022-03-04 00:00:00_m',
 '2022-03-05 00:00:00_m',
 '2022-03-06 00:00:00_m',
 '2022-03-07 00:00:00_m',
 '2022-03-08 00:00:00_m',
 '2022-03-09 00:00:00_m',
 '2022-03-10 00:00:00_m',
 '2022-03-11 00:00:00_m',
 '2022-03-12 00:00:00_m',
 '2022-03-13 00:00:00_m',
 '2022-03-14 00:00:00_m',
 '2022-03-15 00:00:00_m',
 '2022-03-16 00:00:00_m',
 '2022-03-17 00:00:00_m',
 '2022-03-18 00:00:00_m',
 '2022-03-19 00:00:00_m',
 '2022-03-20 00:00:00_m',
 '2022-03-21 00:00:00_m',
 '2022-03-22 00:00:00_m',
 '2022-03-23 00:00:00_m',
 '2022-03-24 00:00:00_m',
 '2022-03-25 00:00:00_m',
 '2022-03-26 00:00:00_m',
 '2022-03-27 00:00:00_m',
 '2022-03-28 00:00:00_m',
 '2022-03-29 00:00:00_m',
 '2022-03-30 00:00:00_m',
 '2022-03-31 00:00:00_m',
 '2022-04-01 00:00:00_m',
 '2022-04-02 00:00:00_m',
 '2022-04-03 00:00:00_m',
 '2022-04-04 00:00:00_m',
 '2022-04-05 00:00:00_m',
 '2022-04-06 00:00:00_m',
 '2022-04-07 00:00:00_m',
 '2022-04-08 00:00:00_m',
 '2022-04-09 00:00:00_m',
 '2022-04-10 00:00:00_m',
 '2022-04-11 00:00:00_m',
 '2022-04-12 00:00:00_m',
 '2022-04-13 00:00:00_m',
 '2022-04-14 00:00:00_m',
 '2022-04-15 00:00:00_m',
 '2022-04-16 00:00:00_m',
 '2022-04-17 00:00:00_m',
 '2022-04-18 00:00:00_m',
 '2022-04-19 00:00:00_m',
 '2022-04-20 00:00:00_m',
 '2022-04-21 00:00:00_m',
 '2022-04-22 00:00:00_m',
 '2022-04-23 00:00:00_m',
 '2022-04-24 00:00:00_m',
 '2022-04-25 00:00:00_m',
 '2022-04-26 00:00:00_m',
 '2022-04-27 00:00:00_m']

In [82]:
gdd_dates = [el[:-1]+'g' for el in temp_means['index']]
# gdd_dates

temp_gdd = temp_maxes.copy()
# temp_gdd

In [83]:
temp_gdd['index'] = gdd_dates
temp_gdd = temp_gdd.reset_index(drop=True)
temp_gdd

,index,GHCND:CA006020559,GHCND:USC00210018,GHCND:USC00210050,GHCND:USC00210059,GHCND:USC00210075,GHCND:USC00210190,GHCND:USC00210287,GHCND:USC00210355,GHCND:USC00210387,...,GHCND:USW00014927,GHCND:USW00014992,GHCND:USW00054932,GHCND:USW00094931,GHCND:USW00094938,GHCND:USW00094960,GHCND:USW00094961,GHCND:USW00094963,GHCND:USW00094967,GHCND:USW00094992
0,2021-05-02 00:00:00_g,72,86,NaN,89,91,88,87,91,77,...,68,71,70,75,73,67,70,70,75,53
1,2021-05-03 00:00:00_g,48,72,NaN,66,83,65,64,82,73,...,68,64,60,53,59,68,50,67,58,50
2,2021-05-04 00:00:00_g,50,52,NaN,53,67,65,58,67,47,...,61,60,57,52,56,60,51,59,54,58
3,2021-05-05 00:00:00_g,53,59,NaN,54,59,58,56,59,50,...,55,51,58,53,58,54,52,54,57,48
4,2021-05-06 00:00:00_g,54,57,NaN,60,57,56,68,58,51,...,63,65,60,55,61,62,56,62,62,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,2022-04-23 00:00:00_g,48,43,NaN,19,67,23,77,62,9,...,75,79,70,51,74,75,50,75,68,47
357,2022-04-24 00:00:00_g,45,72,9,13,73,13,59,73,8,...,53,48,56,49,54,53,51,50,47,46
358,2022-04-25 00:00:00_g,42,NaN,-3,0,57,4,37,47,2,...,38,34,35,33,34,39,30,37,30,40
359,2022-04-26 00:00:00_g,36,NaN,3,1,50,6,38,35,-1,...,43,43,36,31,36,43,38,43,35,34
360,2022-04-27 00:00:00_g,7.5,NaN,9,8,56,11,50,42,7,...,50,49,9,45,49,50,48,51,48,35

In [49]:
# making a template
temp_means['index'] = mean_dates
temp_means = temp_means.reset_index(drop=True)
temp_means

,index,GHCND:CA006020559,GHCND:USC00210018,GHCND:USC00210050,GHCND:USC00210059,GHCND:USC00210075,GHCND:USC00210190,GHCND:USC00210287,GHCND:USC00210355,GHCND:USC00210387,...,GHCND:USW00014927,GHCND:USW00014992,GHCND:USW00054932,GHCND:USW00094931,GHCND:USW00094938,GHCND:USW00094960,GHCND:USW00094961,GHCND:USW00094963,GHCND:USW00094967,GHCND:USW00094992
0,2021-05-02 00:00:00_m,72,86,NaN,89,91,88,87,91,77,...,68,71,70,75,73,67,70,70,75,53
1,2021-05-03 00:00:00_m,48,72,NaN,66,83,65,64,82,73,...,68,64,60,53,59,68,50,67,58,50
2,2021-05-04 00:00:00_m,50,52,NaN,53,67,65,58,67,47,...,61,60,57,52,56,60,51,59,54,58
3,2021-05-05 00:00:00_m,53,59,NaN,54,59,58,56,59,50,...,55,51,58,53,58,54,52,54,57,48
4,2021-05-06 00:00:00_m,54,57,NaN,60,57,56,68,58,51,...,63,65,60,55,61,62,56,62,62,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,2022-04-23 00:00:00_m,48,43,NaN,19,67,23,77,62,9,...,75,79,70,51,74,75,50,75,68,47
357,2022-04-24 00:00:00_m,45,72,9,13,73,13,59,73,8,...,53,48,56,49,54,53,51,50,47,46
358,2022-04-25 00:00:00_m,42,NaN,-3,0,57,4,37,47,2,...,38,34,35,33,34,39,30,37,30,40
359,2022-04-26 00:00:00_m,36,NaN,3,1,50,6,38,35,-1,...,43,43,36,31,36,43,38,43,35,34
360,2022-04-27 00:00:00_m,7.5,NaN,9,8,56,11,50,42,7,...,50,49,9,45,49,50,48,51,48,35

In [71]:
temp_maxes = temp_maxes.reset_index(drop=True)
temp_maxes

,index,GHCND:CA006020559,GHCND:USC00210018,GHCND:USC00210050,GHCND:USC00210059,GHCND:USC00210075,GHCND:USC00210190,GHCND:USC00210287,GHCND:USC00210355,GHCND:USC00210387,...,GHCND:USW00014927,GHCND:USW00014992,GHCND:USW00054932,GHCND:USW00094931,GHCND:USW00094938,GHCND:USW00094960,GHCND:USW00094961,GHCND:USW00094963,GHCND:USW00094967,GHCND:USW00094992
0,2021-05-02 00:00:00_y,72,86,NaN,89,91,88,87,91,77,...,68,71,70,75,73,67,70,70,75,53
1,2021-05-03 00:00:00_y,48,72,NaN,66,83,65,64,82,73,...,68,64,60,53,59,68,50,67,58,50
2,2021-05-04 00:00:00_y,50,52,NaN,53,67,65,58,67,47,...,61,60,57,52,56,60,51,59,54,58
3,2021-05-05 00:00:00_y,53,59,NaN,54,59,58,56,59,50,...,55,51,58,53,58,54,52,54,57,48
4,2021-05-06 00:00:00_y,54,57,NaN,60,57,56,68,58,51,...,63,65,60,55,61,62,56,62,62,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,2022-04-23 00:00:00_y,48,43,NaN,19,67,23,77,62,9,...,75,79,70,51,74,75,50,75,68,47
357,2022-04-24 00:00:00_y,45,72,9,13,73,13,59,73,8,...,53,48,56,49,54,53,51,50,47,46
358,2022-04-25 00:00:00_y,42,NaN,-3,0,57,4,37,47,2,...,38,34,35,33,34,39,30,37,30,40
359,2022-04-26 00:00:00_y,36,NaN,3,1,50,6,38,35,-1,...,43,43,36,31,36,43,38,43,35,34
360,2022-04-27 00:00:00_y,7.5,NaN,9,8,56,11,50,42,7,...,50,49,9,45,49,50,48,51,48,35

# GDD

In [84]:
# calculate the mean temps and GDD
for i in range(1, len(list(temp_maxes.columns))):
    for j in range(len(temp_maxes.iloc[:,i])):
        temp_means.iloc[:,i][j] =(temp_maxes.iloc[:,i].astype(float)[j] + temp_mins.iloc[:,i].astype(float)[j])/2
        gdd_val = temp_means.iloc[:,i][j] - 50
        if gdd_val < 0:
            temp_gdd.iloc[:,i][j] = 0
        else:
            temp_gdd.iloc[:,i][j] = gdd_val

temp_gdd

,index,GHCND:CA006020559,GHCND:USC00210018,GHCND:USC00210050,GHCND:USC00210059,GHCND:USC00210075,GHCND:USC00210190,GHCND:USC00210287,GHCND:USC00210355,GHCND:USC00210387,...,GHCND:USW00014927,GHCND:USW00014992,GHCND:USW00054932,GHCND:USW00094931,GHCND:USW00094938,GHCND:USW00094960,GHCND:USW00094961,GHCND:USW00094963,GHCND:USW00094967,GHCND:USW00094992
0,2021-05-02 00:00:00_g,3.5,15,NaN,13.5,24.5,18.5,20,18.5,9,...,9.5,11.5,6,9,11.5,8.5,2,12,12,0
1,2021-05-03 00:00:00_g,0,5.5,NaN,1,14.5,5,4,18.5,5.5,...,9,3.5,0,0,1,7.5,0,7.5,0,0
2,2021-05-04 00:00:00_g,0,0,NaN,0,3.5,1,0,3,0,...,1,0,0,0,0,0,0,0,0,0
3,2021-05-05 00:00:00_g,0,0,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-05-06 00:00:00_g,0,0,NaN,0,0,0,1.5,0,0,...,0.5,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,2022-04-23 00:00:00_g,0,0,NaN,0,10.5,0,13,4.5,0,...,14,11,5.5,0,9,14,0,12.5,4.5,0
357,2022-04-24 00:00:00_g,0,4.5,0,0,10,0,0,8,0,...,0,0,0,0,0,0,0,0,0,0
358,2022-04-25 00:00:00_g,0,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
359,2022-04-26 00:00:00_g,0,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
360,2022-04-27 00:00:00_g,0,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [85]:
updated_temp_data = pd.concat([temp_mins, temp_maxes, temp_means, temp_gdd]).reset_index(drop=True)
updated_temp_data

,index,GHCND:CA006020559,GHCND:USC00210018,GHCND:USC00210050,GHCND:USC00210059,GHCND:USC00210075,GHCND:USC00210190,GHCND:USC00210287,GHCND:USC00210355,GHCND:USC00210387,...,GHCND:USW00014927,GHCND:USW00014992,GHCND:USW00054932,GHCND:USW00094931,GHCND:USW00094938,GHCND:USW00094960,GHCND:USW00094961,GHCND:USW00094963,GHCND:USW00094967,GHCND:USW00094992
0,2021-05-02 00:00:00_x,35,44,NaN,38,58,49,53,46,41,...,51,52,42,43,50,50,34,54,49,39
1,2021-05-03 00:00:00_x,43,39,NaN,36,46,45,44,55,38,...,50,43,40,38,43,47,39,48,41,40
2,2021-05-04 00:00:00_x,36,25,NaN,38,40,37,30,39,35,...,41,36,33,27,32,37,34,41,30,39
3,2021-05-05 00:00:00_x,24,24,NaN,27,37,29,35,34,25,...,35,33,28,22,28,33,25,37,28,34
4,2021-05-06 00:00:00_x,23,25,NaN,29,39,30,35,38,23,...,38,34,31,23,35,40,25,37,29,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,2022-04-23 00:00:00_g,0,0,NaN,0,10.5,0,13,4.5,0,...,14,11,5.5,0,9,14,0,12.5,4.5,0
1440,2022-04-24 00:00:00_g,0,4.5,0,0,10,0,0,8,0,...,0,0,0,0,0,0,0,0,0,0
1441,2022-04-25 00:00:00_g,0,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1442,2022-04-26 00:00:00_g,0,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1443,2022-04-27 00:00:00_g,0,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
updated_temp_data_tp = updated_temp_data.transpose().iloc[1:].rename(columns=updated_temp_data.transpose().iloc[0]).reset_index()
updated_temp_data_tp

,index,2021-05-02 00:00:00_x,2021-05-03 00:00:00_x,2021-05-04 00:00:00_x,2021-05-05 00:00:00_x,2021-05-06 00:00:00_x,2021-05-07 00:00:00_x,2021-05-08 00:00:00_x,2021-05-09 00:00:00_x,2021-05-10 00:00:00_x,...,2022-04-18 00:00:00_g,2022-04-19 00:00:00_g,2022-04-20 00:00:00_g,2022-04-21 00:00:00_g,2022-04-22 00:00:00_g,2022-04-23 00:00:00_g,2022-04-24 00:00:00_g,2022-04-25 00:00:00_g,2022-04-26 00:00:00_g,2022-04-27 00:00:00_g
0,GHCND:CA006020559,35,43,36,24,23,28,25,28,30,...,0,0,0,0,0,0,0,0,0,0
1,GHCND:USC00210018,44,39,25,24,25,23,25,25,27,...,NaN,NaN,NaN,0,0,0,4.5,NaN,NaN,NaN
2,GHCND:USC00210050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
3,GHCND:USC00210059,38,36,38,27,29,28,30,34,30,...,0,0,0,0,0,0,0,0,0,0
4,GHCND:USC00210075,58,46,40,37,39,41,38,38,41,...,0,0,0,0,2.5,10.5,10,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,GHCND:USW00094960,50,47,37,33,40,34,33,36,33,...,0,0,0,0,0,14,0,0,0,0
174,GHCND:USW00094961,34,39,34,25,25,30,28,33,30,...,0,0,0,0,0,0,0,0,0,0
175,GHCND:USW00094963,54,48,41,37,37,38,37,37,40,...,0,0,0,0,0,12.5,0,0,0,0
176,GHCND:USW00094967,49,41,30,28,29,29,25,29,30,...,0,0,0,0,0,4.5,0,0,0,0
177,GHCND:USW00094992,39,40,39,34,31,33,33,36,32,...,0,0,0,0,0,0,0,0,0,0

In [104]:
unique_stations = meteostat_data.groupby('station_id').mean().reset_index()[['station_id', 'lat', 'lon']]
unique_stations

            station_id        lat        lon
0    GHCND:CA006020559  48.633300 -93.966700
1    GHCND:USC00210050  48.300500 -95.981600
2    GHCND:USC00210059  46.525700 -93.667400
3    GHCND:USC00210075  43.606400 -93.301900
4    GHCND:USC00210190  45.253400 -93.292700
..                 ...        ...        ...
156  GHCND:USW00094960  45.062220 -93.351070
157  GHCND:USW00094961  48.726060 -94.612160
158  GHCND:USW00094963  44.832140 -93.470510
159  GHCND:USW00094967  46.899670 -95.066820
160  GHCND:USW00094992  47.745404 -90.345639

[161 rows x 3 columns]

In [112]:
joined = pd.merge(unique_stations, updated_temp_data_tp, how="left", left_on="station_id", right_on = "index")
joined = joined.drop(['index'], axis=1)

joined

,station_id,lat,lon,2021-05-02 00:00:00_x,2021-05-03 00:00:00_x,2021-05-04 00:00:00_x,2021-05-05 00:00:00_x,2021-05-06 00:00:00_x,2021-05-07 00:00:00_x,2021-05-08 00:00:00_x,...,2022-04-18 00:00:00_g,2022-04-19 00:00:00_g,2022-04-20 00:00:00_g,2022-04-21 00:00:00_g,2022-04-22 00:00:00_g,2022-04-23 00:00:00_g,2022-04-24 00:00:00_g,2022-04-25 00:00:00_g,2022-04-26 00:00:00_g,2022-04-27 00:00:00_g
0,GHCND:CA006020559,48.633300,-93.966700,35,43,36,24,23,28,25,...,0,0,0,0,0,0,0,0,0,0
1,GHCND:USC00210050,48.300500,-95.981600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
2,GHCND:USC00210059,46.525700,-93.667400,38,36,38,27,29,28,30,...,0,0,0,0,0,0,0,0,0,0
3,GHCND:USC00210075,43.606400,-93.301900,58,46,40,37,39,41,38,...,0,0,0,0,2.5,10.5,10,0,0,0
4,GHCND:USC00210190,45.253400,-93.292700,49,45,37,29,30,31,28,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,GHCND:USW00094960,45.062220,-93.351070,50,47,37,33,40,34,33,...,0,0,0,0,0,14,0,0,0,0
157,GHCND:USW00094961,48.726060,-94.612160,34,39,34,25,25,30,28,...,0,0,0,0,0,0,0,0,0,0
158,GHCND:USW00094963,44.832140,-93.470510,54,48,41,37,37,38,37,...,0,0,0,0,0,12.5,0,0,0,0
159,GHCND:USW00094967,46.899670,-95.066820,49,41,30,28,29,29,25,...,0,0,0,0,0,4.5,0,0,0,0
160,GHCND:USW00094992,47.745404,-90.345639,39,40,39,34,31,33,33,...,0,0,0,0,0,0,0,0,0,0

In [113]:
joined.to_csv(r"joined_gdd_station.csv")

In [116]:
out = r'C:\Users\umn-ahmad178\Documents\ArcGIS\Projects\final_arc2\final_arc2.gdb\gdd_stations'
arcpy.management.XYTableToPoint(r"joined_gdd_station.csv", out,
                                "lon", "lat")

In [9]:
sample_days = ['21-05-02 00:00:00_g',
'21-05-03 00:00:00_g',
'21-05-04 00:00:00_g',
'21-05-05 00:00:00_g',
'21-05-06 00:00:00_g',
'21-05-07 00:00:00_g',
'21-05-08 00:00:00_g']

In [39]:
pd.read_csv(r"joined_gdd_station.csv")

,Unnamed: 0,station_id,lat,lon,2021-05-02 00:00:00_x,2021-05-03 00:00:00_x,2021-05-04 00:00:00_x,2021-05-05 00:00:00_x,2021-05-06 00:00:00_x,2021-05-07 00:00:00_x,...,2022-04-18 00:00:00_g,2022-04-19 00:00:00_g,2022-04-20 00:00:00_g,2022-04-21 00:00:00_g,2022-04-22 00:00:00_g,2022-04-23 00:00:00_g,2022-04-24 00:00:00_g,2022-04-25 00:00:00_g,2022-04-26 00:00:00_g,2022-04-27 00:00:00_g
0,0,GHCND:CA006020559,48.633300,-93.966700,35.0,43.0,36.0,24.0,23.0,28.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1,1,GHCND:USC00210050,48.300500,-95.981600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0
2,2,GHCND:USC00210059,46.525700,-93.667400,38.0,36.0,38.0,27.0,29.0,28.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
3,3,GHCND:USC00210075,43.606400,-93.301900,58.0,46.0,40.0,37.0,39.0,41.0,...,0.0,0.0,0.0,0.0,2.5,10.5,10.0,0.0,0,0
4,4,GHCND:USC00210190,45.253400,-93.292700,49.0,45.0,37.0,29.0,30.0,31.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,156,GHCND:USW00094960,45.062220,-93.351070,50.0,47.0,37.0,33.0,40.0,34.0,...,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0,0
157,157,GHCND:USW00094961,48.726060,-94.612160,34.0,39.0,34.0,25.0,25.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
158,158,GHCND:USW00094963,44.832140,-93.470510,54.0,48.0,41.0,37.0,37.0,38.0,...,0.0,0.0,0.0,0.0,0.0,12.5,0.0,0.0,0,0
159,159,GHCND:USW00094967,46.899670,-95.066820,49.0,41.0,30.0,28.0,29.0,29.0,...,0.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0,0,0
160,160,GHCND:USW00094992,47.745404,-90.345639,39.0,40.0,39.0,34.0,31.0,33.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [44]:
import pandas as pd
loc = r'C:\Users\umn-ahmad178\Documents\ArcGIS\Projects\final_arc2\final_arc2.gdb'
lpi = ['lpi210502', 'lpi210503', 'lpi210504', 'lpi210505', 'lpi210506', 'lpi210507', 'lpi210508']
ebk = ['ebk210502', 'ebk210503', 'ebk210504', 'ebk210505', 'ebk210506', 'ebk210507', 'ebk210508']
gpi = ['gpi210502', 'gpi210503', 'gpi210504', 'gpi210505', 'gpi210506', 'gpi210507', 'gpi210508']
mn_county_points = r'C:\Users\umn-ahmad178\Desktop\lab3\final\mn_county_points.shp'
df_tot = pd.DataFrame([])
df_dict = {}
for i in range(len(lpi)):
    
    date = '20' + lpi[i][3:5] + '-' + lpi[i][5:7] + '-' + lpi[i][7:9]

    lpishp = loc + "\\" + lpi[i] + '_cv'
    ebkshp = loc + "\\" + ebk[i] + '_cv'
    gpishp = loc + "\\" + gpi[i] + '_cv'

    lpiarr = arcpy.da.TableToNumPyArray(lpishp, ('OBJECTID', 'SHAPE@X', 'SHAPE@Y', 'Measured', 'Predicted', 'Error'))
    lpidf = pd.DataFrame(lpiarr)
    lpi_err = lpidf['Error'].mean()
    
    gpiarr = arcpy.da.TableToNumPyArray(gpishp, ('OBJECTID', 'SHAPE@X', 'SHAPE@Y', 'Measured', 'Predicted', 'Error'))
    gpidf = pd.DataFrame(gpiarr)
    gpi_err = gpidf['Error'].mean()
    
    ebkarr = arcpy.da.TableToNumPyArray(ebkshp, ('OBJECTID', 'SHAPE@X', 'SHAPE@Y', 'Measured', 'Predicted', 'Error'))
    ebkdf = pd.DataFrame(ebkarr)
    ebk_err = ebkdf['Error'].mean()
    
    errs = [lpi_err, gpi_err, ebk_err]
    
    if min(errs) == lpi_err:
        df_dict.update({date:'lpi'})
        df_tot[date+'_g'] = lpidf['Measured']
        df_tot['lat'] = lpidf['SHAPE@Y']
        df_tot['lon'] = lpidf['SHAPE@X']
    elif min(errs) == gpi_err:
        df_dict.update({date:'gpi'})
        df_tot[date+'_g'] = gpidf['Measured']
        df_tot['lat'] = gpidf['SHAPE@Y']
        df_tot['lon'] = gpidf['SHAPE@X']
    else:
        df_dict.update({date:'ebk'})
        df_tot[date+'_g'] = ebkdf['Measured']
        df_tot['lat'] = ebkdf['SHAPE@Y']
        df_tot['lon'] = ebkdf['SHAPE@X']
        
    
df_dict

{'2021-05-02': 'ebk',
 '2021-05-03': 'gpi',
 '2021-05-04': 'gpi',
 '2021-05-05': 'lpi',
 '2021-05-06': 'lpi',
 '2021-05-07': 'gpi',
 '2021-05-08': 'ebk'}

In [62]:

st_shp = r'C:\Users\umn-ahmad178\Documents\ArcGIS\Projects\final_arc2\final_arc2.gdb\gdd_stations'
mn_county = r'C:\Users\umn-ahmad178\Desktop\lab3\final2\mn_county.shp'
from arcpy.sa import *
for k, v in df_dict.items():
    print(k,v)
    if v == 'ebk':
        inPointFeatures = st_shp
        zField = k + " 00:00:00_g"
        outrast = v + '_' + k[2:4] + k[5:7] + k[8:10]
        # Execute EmpiricalBayesianKriging
        arcpy.EmpiricalBayesianKriging_ga(in_features = inPointFeatures, z_field = zField, out_raster = outrast)
        
        out_point_features = outrast + '_county'
        ExtractValuesToPoints(mn_county, outrast, out_point_features)
        
    elif v == 'gpi':
        inPointFeatures = st_shp
        zField = k + " 00:00:00_g"
        outrast = v + '_' + k[2:4] + k[5:7] + k[8:10]
        # Execute GlobalPolynomialInterpolation
        arcpy.GlobalPolynomialInterpolation(in_features = inPointFeatures, z_field = zField, out_raster = outrast)
        
        out_point_features = outrast + '_county'
        ExtractValuesToPoints(mn_county, outrast, out_point_features)
    else:
        inPointFeatures = st_shp
        zField = k + " 00:00:00_g"
        outrast = v + '_' + k[2:4] + k[5:7] + k[8:10]
        # Execute LocalPolynomialInterpolation
        arcpy.LocalPolynomialInterpolation(in_features = inPointFeatures, z_field = zField, out_raster = outrast)
        
        out_point_features = outrast + '_county'
        ExtractValuesToPoints(mn_county, outrast, out_point_features)

2021-05-02 ebk
2021-05-03 gpi
2021-05-04 gpi
2021-05-05 lpi
2021-05-06 lpi
2021-05-07 gpi
2021-05-08 ebk

In [74]:
shp_names = []
for k, v in df_dict.items():
    shp_names.append(v + '_' + k[2:4] + k[5:7] + k[8:10]+ '_county')
shp_names

['ebk_210502_county',
 'gpi_210503_county',
 'gpi_210504_county',
 'lpi_210505_county',
 'lpi_210506_county',
 'gpi_210507_county',
 'ebk_210508_county']

In [96]:
import arcpy
import psycopg2
import arcgisscripting
gp = arcgisscripting.create()
conn = psycopg2.connect("dbname='postgres' user='postgres' host='34.72.222.158' password='postgres'")#connecting to DB
conn.autocommit = True
cur = conn.cursor()  #setting up connection cursor
cur.execute('''drop table if exists testshp''')

q = '''
CREATE TABLE public.testshp
(
    gid integer,
    county_nam character varying(80) COLLATE pg_catalog."default",
    geoid character varying(80) COLLATE pg_catalog."default",
    rastervalu double precision,
    date character varying(20),
    geom geometry(Point,4326)
    
)

TABLESPACE pg_default;
'''
cur.execute(q)
conn.commit()

In [97]:
arcpy.env.workspace = r"C:\Users\umn-ahmad178\Documents\ArcGIS\Projects\final_arc2\final_arc2.gdb"
for shp in shp_names:  
    date = '20' + shp[4:6] + '-' + shp[6:8] + '-' + shp[8:10] #2021-05-02
    print(date)
    for row in arcpy.da.SearchCursor(shp, ['OBJECTID','county_nam','geoid', 'RASTERVALU', 'SHAPE@']):
        wkt = row[4].WKT
        geoid = row[2]
        county_nam = row[1]
        objectid = row[0]
        gdd = row[3]
        q = f'''
    INSERT INTO testshp VALUES ('{objectid}', '{county_nam}', '{geoid}', '{gdd}', '{date}', ST_setSRID(ST_GeomFromWKB(ST_AsEWKB(ST_GeomFromText('{wkt}'))),4326)

    );
    '''
        cur.execute(q)
        conn.commit()

2021-05-02
2021-05-03
2021-05-04
2021-05-05
2021-05-06
2021-05-07
2021-05-08